<h1>Products</h1>

<ul>
  <% cart.each do |product| %>
  <li><%= product %></li>
<% end %>

<%= form_tag ({
  controller: 'products',
  action: 'add',
  method: 'post'
  }) do %>
  <input type="text" name="product">
  <input type="submit" value="add to cart">
<% end %>
</ul>
